<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Baby Monitor</title>

    <link rel="stylesheet" href"https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <style>
      body {
        background: #000000;
      }
      body h1 {
        color: #FFFFFF;
      }
    </style>
  </head>

  <body>
    <h1>Baby Monitor</h1>
    <img src="stream.mjpg" width="640" height="480" />
  </body>
</html>
